@import "tailwindcss";

body {
  
  font-family: 'Times New Roman', Times, serif;
}

div {
  padding: 10px;
  margin: 1px;
}
.bigCaja{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 4px;
  flex: auto;
  
}

.titulo1 {
  background-color: #36bbaa;
  color: #ffffff;
  font-size: 50px;
  flex: auto;
  text-align: center;
}
.titulo2{
  flex: auto;
  font-size: 25px;
}

.heat{
  padding: 35px;
  margin: 10px;
}
